.Runoobspider.py.un~
.aaa.py.un~
.client.py.un~
.client2.py.un~
.ipynb_checkpoints/
.python-version
.server.py.un~
.test.py.swp
.tmp.py.un~
Runoobspider.py
Runoobspider.py~
SmallReptileTraining/
Untitled.ipynb
__pycache__/
a.py
aaa.py
aaa.py~
anl.py
client.py
client.py~
client2.py
client2.py~
ls.py
redo.py
server.py
server.py~
tmp.py~
tutorial
